# ENV
.env
.venv
/venv
/env

# DATABASE
*.db
*.log
*.log.*

# PYTHON
__pycache__/
*.py[cod]
*$py.class
.Python
*.cpython
*.cpython-312.pyc
*.pyc

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Alembic
alembic/versions/*
alembic.ini
